MYSQL_URL=jdbc:mysql://localhost:3306/pc_store?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
MYSQL_USER=Unknown
MYSQL_PASSWORD=Drsunknown
FRONTEND_URL=http://localhost:5173
MAIL_PORT=580
MAIL_USER=example@gmail.com
MAIL_PASSWORD=bimk laez ipyk evgp
CLOUDINARY_API-SECRET=d1vMxCgsm0p_f1moKJBxMlQkMsc
CLOUDINARY_API-KEY=789169458237724
CLOUDINARY_KEYNAME=Root
PAYOS_CHECKSUM_KEY=7c975adbe84c6d36f4f40a086aac7e799df22d9992342d9b059b6beef776a8cc
PAYOS_CLIENT_ID=5b392db4-8808-47f0-b673-cdb3674c9f2d
PAYOS_KEY=e067473f-a10c-410e-922a-8944d11b4b83
jwt_signerKey=
filePath=/app/output/Hoadon.pdf