.memberTabs {
  background-color: #f8f9fa;
}

.tabItem {
  cursor: pointer;
  color: black;
  position: relative;
  transition: background-color 0.3s ease;
}

.tabItem:hover:not(.active) {
  background-color: #FF6B1F;
  color: white;
}

.active {
  background-color: #FF5A00; /* Màu cam đậm */
  color: white;
}
